.spots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.spot-tile {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: calc(25% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  /* Set a fixed height for consistency */
}

.spot-tile img {
  width: 100%;
  height: 200px;
  /* Consistent image height */
  object-fit: cover;
}

.spot-tile:hover {
  transform: scale(1.05);
}

.spot-info {
  padding: 10px;
  background-color: #8e8e8e;
  flex-grow: 1;
  /* Ensure this section takes the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spot-info h3 {
  margin: 0 0 10px;
  color: #333;
}

.spot-info p {
  margin: 5px 0;
  color: whitesmoke;
}

.tooltip {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0.9;
  pointer-events: none;
}

.spot-name {
  color: #333;
}

.spot-actions {
  display: flex;
  gap: 10px;
}

.spot-actions button {
  padding: 5px 10px;
  cursor: pointer;
}

.spot-actions button:first-child {
  margin-right: 10px;
}

.hosted-by {
  color: black;
  font-weight: bold;
}
