.menu-button {
  background: #8e8e8e;
  border: 2px solid #8e8e8e;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 32px;
  color: #333333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  /* Add some spacing for better visual appearance */
  top: 20px;
  right: 20px;
}

.menu-button:hover {
  color: #333333;
}

.profile-dropdown {
  position: fixed;
  right: 0;
  top: 60px;
  /* Adjust this value to move the dropdown lower */
  background-color: #333333;
  border: 1px solid whitesmoke;
  padding: 10px;
  list-style-type: none;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  color: whitesmoke;
  display: block;
  /* Ensure list items are displayed as block elements */
}

.profile-dropdown li:hover {
  background-color: #3DC6C1;
  color: #333333;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown a {
  color: whitesmoke;
  /* Ensure all links are white */
  text-decoration: none;
  /* Remove underline */
}

.profile-dropdown a:hover {
  color: #ccc;
  /* Optional: lighter color on hover */
}

.profile-dropdown a[href="/spots/current"] {
  color: whitesmoke;
  /* Ensure the 'Manage Spots' link is white */
}

.profile-dropdown a[href="/spots/current"]:hover {
  color: #ccc;
  /* Optional: lighter color on hover */
}

.error {
  color: red;
  margin-top: 5px;
}
