.menu-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 32px;
  color: #3DC6C1;
}

.menu-button:hover {
  color: black;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  /* Adjust this value to move the dropdown lower */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  list-style-type: none;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  display: block;
  /* Ensure list items are displayed as block elements */
}

.profile-dropdown li:hover {
  background-color: #f1f1f1;
  color: green;
}

.profile-dropdown.hidden {
  display: none;
}

.error {
  color: red;
  margin-top: 5px;
}
